{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "bengler",
  "rules": {
    "prefer-rest-params": 0,
    "guard-for-in": 0,
    "no-cond-assign": 0,
    "complexity": ["warn", {"max": 10}]
  }
}
